In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
d={"Apples":["Delicious","Red Apple","Sarmpuri","Delicious","Red Apple","Sarmpuri"],
  "Color":["Red","Blue","green","Red","Blue","green"],
   "Size":[10,12,40,82,23,40] 
  }

In [5]:
d

{'Apples': ['Delicious',
  'Red Apple',
  'Sarmpuri',
  'Delicious',
  'Red Apple',
  'Sarmpuri'],
 'Color': ['Red', 'Blue', 'green', 'Red', 'Blue', 'green'],
 'Size': [10, 12, 40, 82, 23, 40]}

In [6]:
df=pd.DataFrame(d)

In [8]:
df

      Apples  Color  Size
0  Delicious    Red    10
1  Red Apple   Blue    12
2   Sarmpuri  green    40
3  Delicious    Red    82
4  Red Apple   Blue    23
5   Sarmpuri  green    40

In [21]:
encoder=OneHotEncoder()

In [26]:
encoder.fit_transform(df[["Apples"]])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [28]:
encoder.fit_transform(df[["Apples"]]).toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [30]:
encoded=encoder.fit_transform(df[["Apples"]])

In [32]:
encoded

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [34]:
x=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [29]:
x

,Apples_Delicious,Apples_Red Apple,Apples_Sarmpuri,Color_Blue,Color_Red,Color_green
0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0
5,0.0,0.0,1.0,0.0,0.0,1.0

In [31]:
pd.concat([df,x],axis=1)

,Apples,Color,Size,Apples_Delicious,Apples_Red Apple,Apples_Sarmpuri,Color_Blue,Color_Red,Color_green
0,Delicious,Red,10,1.0,0.0,0.0,0.0,1.0,0.0
1,Red Apple,Blue,12,0.0,1.0,0.0,1.0,0.0,0.0
2,Sarmpuri,green,40,0.0,0.0,1.0,0.0,0.0,1.0
3,Delicious,Red,82,1.0,0.0,0.0,0.0,1.0,0.0
4,Red Apple,Blue,23,0.0,1.0,0.0,1.0,0.0,0.0
5,Sarmpuri,green,40,0.0,0.0,1.0,0.0,0.0,1.0