In [39]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

In [41]:
d = {
    "Education": ["PHd", "UG", "PG", "SCHOOL"],
    "Review": ["Average", "Poor", "Good", "Excellent"],
    "Result": ["YES", "NO", "NO", "YES"]
    }

In [43]:
d

{'Education': ['PHd', 'UG', 'PG', 'SCHOOL'],
 'Review': ['Average', 'Poor', 'Good', 'Excellent'],
 'Result': ['YES', 'NO', 'NO', 'YES']}

In [45]:
df=pd.DataFrame(d)

In [47]:
df

  Education     Review Result
0       PHd    Average    YES
1        UG       Poor     NO
2        PG       Good     NO
3    SCHOOL  Excellent    YES

In [55]:
od_encoder = OrdinalEncoder(categories=[["SCHOOL", "UG", "PG", "PHd"],["Poor", "Average", "Good", "Excellent"]])

In [57]:
x = ["Education", "Review"]

In [59]:
df[x] = od_encoder.fit_transform(df[x])

In [61]:
print(df)

   Education  Review Result
0        3.0     1.0    YES
1        1.0     0.0     NO
2        2.0     2.0     NO
3        0.0     3.0    YES

In [68]:
le_result = LabelEncoder()
df['Result'] = le_result.fit_transform(df['Result'])

In [70]:
df

   Education  Review  Result
0        3.0     1.0       1
1        1.0     0.0       0
2        2.0     2.0       0
3        0.0     3.0       1